@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg-color: #ffffff;
  --text-color: #1a1a1a;
}

.dark {
  --bg-color: #121212;
  --text-color: #e0e0e0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}

a,
svg {
  color: var(--text-color);
}
